{%extends "registration/base.html"%}
{% load bootstrap5 %}
{% block content %}
<div class="container">
  <div class="row">
   

    <div class="col-md-4"></div>
    <div class="col-md-4">
      <!-- {% if form.errors %}
        <p> Information Might be Incorrect </p>
      {% endif %} -->
      <div class="panel panel-default">

        <div class="panel-heading">
          <h3 class="text-center"> New Post</h3>
          <hr>
          {% if messages%}
            {%for message in messages %}
            <p>{{message}}</p>
            {% endfor%}
          {% endif %}
        </div>
        <div class="panel-body">

          <form  method="post" action="/post " >
            {% csrf_token %}
            {{form.as_p}}
            <!-- {% bootstrap_form form %} -->
            <div class="form-group">
              <input type="submit" />
            </div>

            <input type="hidden" name="next" value="{{next}}">

          </form>

        </div>
        <div> 
            
          <p class="card-text"> Title: {{post.title }}  </p>
          <p class="card-text"> Post: {{post.post }}  </p>
          <p class="card-text"> Post: {{post.author }} </p> 
          

          <p class="card-text"><small class="text-muted">Posted on: {{post.published_date}} </small></p>   
        </div>

      </div>

    </div>
    <!-- empty div -->
    <div class="col-md-4"></div>
  </div>
</div>
{% endblock %}

    author = models.ForeignKey(User, on_delete = models.CASCADE)
    published_date = models.DateTimeField(auto_now_add=True)
    image  